* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.login {
    height: 100vh;
    background: #021654;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history {
    height: 100vh;
    background: #021654;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    top: 25px;
    background: #FFFFFF;
    border-radius: 18px;
    border: 3px solid #45FEFE;

}

.iconsh {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    top: 25px;
    background: #FFFFFF;
    border-radius: 18px;
    border: 3px solid #45FEFE;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0;
}

.headline {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #333333;
}

.headlineh {
    margin-top: 120px;
    font-size: 30px;
    font-weight: 600;
    color: #333333;
}

.subheadline {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    text-align: center;
}

.form {
    width: 324px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 16px;
}

.search {
    width: 324px;
    height: 460px;
    margin-top: 15px;
    justify-content: center;
    align-items: flex-start;
    
}

.input-email {
    margin-bottom: 12px;
    width: 100%;
    padding: 8px 0 8px 5px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.input-search {
    top: 20px;
    margin-bottom: 12px;
    background: #f4f2f2;
    width: 100%;
    padding: 10px 0 8px 8px;
    border: 1px solid #dddddd;
    border-radius: 17px;
}

.input-password {
    margin-bottom: 20px;
    width: 100%;
    padding: 8px 0 8px 5px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.input-email ::placeholder {
    font-size: 12px;
    color: #E8E8E8;
}

.input-password ::placeholder {
    font-size: 12px;
    color: #E8E8E8;
}

.input-email:focus {
    border: 1px solid #45FEFE;
}

.input-password:focus {
    border: 1px solid #45FEFE;
}

.checkbox {
    margin-bottom: 10px;
    width: 311px;
}

.label-checkbox {
    color: #666666;
    width: 313px;
    height: 16px;
}

.input-checkbox {
    width: 20px;
    border-radius: 16px;
}

.button-primary {
    width: 100%;
    margin-top: 18px;
    border-radius: 20px;
    font-weight: 700;
    background: #45FEFE; /* Corrigido para maiúsculas */
    color: #333333;
    padding: 10px;
    cursor: pointer;
    border: 4px solid #45FEFE;
}

.button-secondary { /* Corrigido o nome da classe */
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    font-weight: 700;
    background: #fcfdfe; /* Corrigido valor hexadecimal */
    color: #333333;
    padding: 10px;
    cursor: pointer;
    border: 4px solid #45FEFE;
}
